@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --gradient: #00416a;
    --background: 216 100% 98.42%;
    --foreground: 216 10% 0.84%;

    --muted: 216 10% 92.1%;
    --muted-foreground: 216 5% 42.1%;

    --popover: 216 10% 92.1%;
    --popover-foreground: 216 10% 1.05%;

    --card: 216 10% 92.1%;
    --card-foreground: 216 10% 1.05%;

    --border: 216 15% 89.84%;
    --input: 216 15% 89.84%;

    --primary: 216 100% 21%;
    --primary-foreground: 216 2% 92.1%;

    --secondary: 216 5% 96.05%;
    --secondary-foreground: 216 7% 12.1%;

    --accent: 216 5% 96.05%;
    --accent-foreground: 216 7% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 216 100% 21%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --gradient: #1fa2ff;

    --background: 218 65% 4.48%;
    --foreground: 218 10% 97.8%;

    --muted: 218 50% 16.8%;
    --muted-foreground: 218 10% 55.6%;

    --popover: 218 45% 7.280000000000001%;
    --popover-foreground: 218 10% 97.8%;

    --card: 218 45% 7.280000000000001%;
    --card-foreground: 218 10% 97.8%;

    --border: 218 50% 16.8%;
    --input: 218 50% 16.8%;

    --primary: 218 100% 56%;
    --primary-foreground: 218 10% 5.6000000000000005%;

    --secondary: 218 50% 16.8%;
    --secondary-foreground: 218 10% 97.8%;

    --accent: 218 50% 16.8%;
    --accent-foreground: 218 10% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 218 10% 97.8%;

    --ring: 218 100% 56%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
